{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}

<br>

<body>
	<form action ="/register" style="width:500px; margin:auto" method="POST">
	<div class="form-group">
		<span class="input-group-text" id="basic-addon1">Please input patient's first name and last name: </span>
		<input type="text" name="name" id="name" class="form-control" placeholder="Peter Anteater">
	<br>

	<span class="input-group-text" id="basic-addon1">Please input patient's birthday: </span>
		<input type="text" name="bday" id="bday" class="form-control" placeholder="MMDDYYYY">

	<br>

	<span class="input-group-text" id="basic-addon1">Please input patient's phone number: </span>
		<input type="text" name="number" id="number" class="form-control" placeholder="1234567890">

	</div>
	<center><button type="submit" class="btn btn-primary" style="width:250px; margin:auto">Register Patient</button></center>
	</form>
</body> 

{% endblock %}
