<!DOCTYPE html>
<head>
	<title>
		AppName
	</title>
</head>
<body bgcolor = "9f9f9f">
	<h1>
		Please enter prescription:
	</h1>
	<br>
	<table style = "border: 1px solid">
		<tr>
			<th> Drug </th>
			<th> Dosage </th>
		</tr>
		<tr>
			<td>
				<input type = "text" name = "Drug1">
				<input type = "text" name = "Dosage1">
			</td>
		</tr>
		<tr>
			<td>
				<input type = "text" name = "Drug2">
				<input type = "text" name = "Dosage2">
			</td>
		</tr>
		<tr>
			<td>
				<input type = "text" name = "Drug3">
				<input type = "text" name = "Dosage3">
			</td>
		</tr>
</body>
</html>
