{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}

<br>

<div class="input-group mb-3">
	<div class="input-group-prepend">
	  <span class="input-group-text" id="basic-addon1">Please input patient's first name and last name: </span>
	</div>
	<input type="text" class="form-control" placeholder="Name" aria-label="nme" aria-describedby="basic-addon1">
  </div>


  <div class="input-group mb-3">
	<div class="input-group-prepend">
	  <span class="input-group-text" id="basic-addon1">Please input patient's birthday: </span>
	</div>
	<input type="text" class="form-control" placeholder="MMDDYYYY" aria-label="birth" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
	<div class="input-group-prepend">
	  <span class="input-group-text" id="basic-addon1">Please input patient's phone number: </span>
	</div>
	<input type="text" class="form-control" placeholder="5555555555" aria-label="phone" aria-describedby="basic-addon1">
  </div>

  <button type="button" class="btn btn-secondary btn-lg btn-block">Register</button>
{% endblock %}

>
