{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style> 
      
    .container{
        vertical-align: middle;
        font-family: 'Georgia';
        color: black
        font-weight: bold}
    .fill-height{
        padding-top: 250px;
        padding-bottom: 250px; 
        min-height: 100%;
        height:100vh;
        }
    body{ 
        background-color:#4c837a;
    }

    h1{
        color: white;
    }

      </style>
</head>

<center><body>
    <div class="container fill-height">
        <div class="row">
         <div class="col-lg-1"></div>
         <div class="col-lg-10">
           <h1 style="text-align:center;"> Hello World</h1>
        <button type="button" class="btn btn-primary">Doctor</button>
        <button type="button" class="btn btn-primary">Patient</button>
         </div>
        <div class="col-lg-1"></div>
     </div>
   </div>
</body></center>

{% endblock %}